.highlight {
  text-decoration: underline;
}

#tooltip {
    display: none;
    position: absolute;
    padding: 5px;
    background: white;
    border: solid thin black;
    z-index: 1000;
    opacity: 0.8;
}
